.upload-image-container {
    background: white;
    padding: 8px;
    border-radius: 8px;
    margin-top: 12px;
}

.upload-image-container .upload-button {
    display: block;
    margin: 8px auto;
}

.upload-image-container .errors {
    text-align: center;
    margin: 16px 0;
}

.upload-image-container .image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.upload-image-container .image-container .image-item {
    width: 30%;
    margin: 4px;
    position: relative;
}

.upload-image-container .image-container .image-item img {
    border-radius: 4px;
}

.upload-image-container .image-container .image-item .remove-icon {
    position: absolute;
    background: white;
    width: 25px;
    height: 25px;
    top: -10px;
    right: -10px;
    transition: all linear .3s;
}

.upload-image-container .image-container .image-item .remove-icon:hover {
    cursor: pointer;
    transform: scale(1.05);
}

